@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;800;900&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside,
section {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Nunito", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  font-family: "Nunito", sans-serif;
}

.main-page {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(80.08deg, #010038 0.5%, #e465a3 109.34%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
  padding-top: 55px;
  padding-bottom: 28px;
}

.main-page #confetti-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
  pointer-events: none;
}

.main-page__inner {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 1000px;
  padding: 0 10px 60px 10px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}

.main-page__body {
  width: 100%;
}

.main-page__read {
  overflow: hidden;
}

.main-page__header {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  padding-bottom: 25px;
}

.main-page__headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 20px;
}

.main-page__headline img {
  margin-right: 25px;
}

.main-page__headline-text {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: -5px;
}

.main-page__counter {
  text-align: center;
}

.main-page .main-counter__body {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px;
}

.main-page .main-counter__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45px;
}

.main-page .main-counter__time {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fce752), to(#e79500));
  background: linear-gradient(180deg, #fce752 0%, #e79500 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-page .main-counter__label {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fce752), to(#e79500));
  background: linear-gradient(180deg, #fce752 0%, #e79500 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.5;
}

.main-page .main-counter__separator {
  width: 2px;
  height: 17px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  margin: -25px 25px 0 25px;
}

.main-page .main-slider {
  width: 100%;
  margin-bottom: 70px;
}

.main-page .main-slider__slide {
  max-width: 260px;
}

.main-page .main-slider__slide video {
  max-width: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-page .swiper-slide img {
  width: 100%;
}

.main-page .coming {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.main-page .coming__body {
  font-size: 26px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.8);
}

.main-page .main-page__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 45px;
}

.main-page .main-page__button-inner {
  cursor: pointer;
  max-width: 340px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 60px;
  background: #ffffff;
  border-radius: 14px;
}

.main-page .main-page__text {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-right: 10px;
  color: #010038;
}

.main-page__image {
  text-align: center;
  width: 100%;
  height: 100%;
}

.main-page__image img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

.main-page__head {
  text-align: center;
  font-size: 28px;
  max-width: 342px;
  margin: -114px auto 0 auto;
  line-height: 38px;
  margin-bottom: 70px;
}

.main-page__title {
  font-weight: 400;
  line-height: 38px;
  font-size: 28px;
}

.main-page__subtitle {
  text-transform: uppercase;
  font-weight: 900;
}

.main-page__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.main-page__content .main-page__title {
  margin-bottom: 10px;
}

.main-page__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  gap: 20px 50px;
}

.main-page__item a img {
  height: 60px;
}

.amonica {
  max-width: 155px;
}

@media (min-width: 1920px) {
  .main-page__image,
  .main-page__head,
  .main-page__content,
  .main-more {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  .main-page__row:not(:last-child) {
    margin-bottom: 10px;
  }
  .swiper-slide-prev.swiper-slide-visible img,
  .swiper-slide-next.swiper-slide-visible img {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .main-slider__wrapper {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .swiper-slide-visible.swiper-slide-active img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .main-page .main-slider {
    margin-bottom: 120px;
  }
  .main-page__header {
    margin-bottom: 50px;
  }
}

.main-read {
  position: absolute;
  right: 0;
  top: 109px;
  max-width: 155px;
  width: 100%;
  background: url("../img/shapes.svg") right no-repeat;
  max-height: 270px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 0;
}

.main-read__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(51.11deg, #110f75 -8.39%, #e465a3 111.74%);
  border-radius: 4px;
  padding: 26px 12px 26px 27px;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main-read__link:hover {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  background: linear-gradient(55.55deg, #110f75 -8.54%, #e465a3 315.66%);
}

.main-read__icon {
  margin-right: 10px;
}

.main-read__text {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
}

.main-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

.main-more__text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  margin-bottom: 10px;
}

.main-more__icon {
  -webkit-animation: impulseArrow 1s infinite;
          animation: impulseArrow 1s infinite;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@-webkit-keyframes impulseArrow {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes impulseArrow {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.swiper-slide img {
  opacity: 0.7;
}

.swiper-slide-prev.swiper-slide-visible img,
.swiper-slide-next.swiper-slide-visible img {
  opacity: 0.85;
}

.swiper-slide-visible.swiper-slide-active img {
  opacity: 1;
}

@media (min-device-width: 2800px) {
  .main-page .swiper-slide {
    max-width: 550px;
    width: 100%;
  }
  .main-page .swiper-slide img {
    width: 100%;
  }
}

@media (min-device-width: 2600px) and (max-device-width: 2800px) {
  .main-page .swiper-slide {
    max-width: 530px;
    width: 100%;
  }
  .main-page .swiper-slide img {
    width: 100%;
  }
}

@media (min-device-width: 2400px) and (max-device-width: 2600px) {
  .main-page .swiper-slide {
    max-width: 450px;
    width: 100%;
  }
  .main-page .swiper-slide img {
    width: 100%;
  }
}

@media (min-device-width: 2180px) and (max-device-width: 2400px) {
  .main-page .swiper-slide {
    max-width: 400px;
    width: 100%;
  }
  .main-page .swiper-slide img {
    width: 100%;
  }
}

@media (min-device-width: 1950px) and (max-device-width: 2180px) {
  .main-page .swiper-slide {
    max-width: 350px;
    width: 100%;
  }
  .main-page .swiper-slide img {
    width: 100%;
  }
}

@media (min-device-width: 1750px) and (max-device-width: 1950px) {
  .main-page .swiper-slide {
    max-width: 300px;
    width: 100%;
  }
  .main-page .swiper-slide img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .main-read {
    top: 5px;
    background: none;
    height: auto;
  }
  .main-read__link {
    padding: 15px 12px 15px 27px;
  }
  .main-page__row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .main-page__row:last-child {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-page__item img {
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 530px) {
  .main-page__headline {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-page__headline img {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .coming {
    margin-top: 10px;
  }
  .coming__body {
    font-size: 24px;
  }
  .main-page__header {
    padding-bottom: 15px;
  }
}

@media (max-width: 470px) {
  .main-page__head {
    margin: -64px auto 20px auto;
  }
}

.lootbox {
  padding: 29px 165px 120px 165px;
  width: 100%;
  height: 100%;
}

.lootbox__inner {
  width: 100%;
  height: 100%;
  text-align: center;
}

.lootbox__arrows {
  display: none;
}

.lootbox__title {
  margin-bottom: 60px;
}

.lootbox__content {
  width: 100%;
  height: 100%;
}

.lootbox__slider {
  max-width: 1059px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.lootbox .slick-arrow {
  background: #e465a3;
  border-radius: 6px;
  width: 52px;
  height: 238px;
  font-size: 0;
  position: absolute;
  z-index: 2;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.lootbox .slick-prev {
  background: url("../img/icons/arrow-left.svg") center no-repeat, #e465a3;
  left: 0;
}

.lootbox .slick-prev:hover {
  background: url("../img/icons/arrow-left.svg") center no-repeat, #010038;
}

.lootbox .slick-next {
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  background: url("../img/icons/arrow-right.svg") center no-repeat, #e465a3;
}

.lootbox .slick-next:hover {
  background: url("../img/icons/arrow-right.svg") center no-repeat, #010038;
}

.lootbox .slick-dots {
  position: absolute;
  bottom: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lootbox .slick-dots li:not(:last-child) {
  margin-right: 10px;
}

.lootbox .slick-dots li button {
  width: 168px;
  height: 6px;
  background: #ffffff;
  border-radius: 3px;
  font-size: 0;
}

.lootbox .slick-dots li:not(.slick-active) button:hover {
  height: 14px;
  border-radius: 13px;
}

.lootbox .slick-dots li.slick-active button {
  background: #e465a3;
}

.lootbox__digits {
  display: none;
}

.lootbox-item__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ede9ff;
  border-radius: 15px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px 90px;
}

.lootbox-item__image {
  margin-right: 24px;
}

.lootbox-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
}

.lootbox-item__title {
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  color: #e465a3;
  margin-bottom: 15px;
}

.lootbox-item__text {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  line-height: 30px;
  color: #010038;
  margin-bottom: 15px;
  max-height: 224px;
  height: 224px;
}

.lootbox-item__subtitle {
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  color: #010038;
  margin: 0 auto;
}

.lootbox-item__subtext {
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  background: -webkit-gradient(linear, left top, right top, color-stop(37.31%, #110f75), color-stop(62.15%, #e465a3));
  background: linear-gradient(90deg, #110f75 37.31%, #e465a3 62.15%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 auto;
}

.slick-arrow {
  background: #e465a3;
  border-radius: 6px;
  width: 52px;
  height: 238px;
  font-size: 0;
  position: absolute;
  z-index: 2;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slick-prev {
  background: url("../img/icons/arrow-left.svg") center no-repeat, #e465a3;
  left: 0;
}

.slick-next {
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  background: url("../img/icons/arrow-right.svg") center no-repeat, #e465a3;
}

.lootbox .slick-dots {
  position: absolute;
  bottom: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lootbox .slick-dots li:not(:last-child) {
  margin-right: 10px;
}

.lootbox .slick-dots li button {
  width: 105px;
  height: 6px;
  background-position: right bottom;
}

.lootbox .slick-dots li.slick-active button {
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, #fff), color-stop(50%, #e465a3));
  background: linear-gradient(to left, #fff 50%, #e465a3 50%);
  border-radius: 3px;
  font-size: 0;
  -webkit-transition: all 5.5s linear;
  transition: all 5.5s linear;
  background-size: 200% 100%;
  background-position: left bottom;
}

@media (max-width: 1360px) {
  .lootbox {
    padding: 29px 140px 120px 140px;
  }
  .lootbox-item__inner {
    padding: 60px 70px;
  }
  .lootbox .slick-dots li button {
    width: 140px;
  }
}

@media (max-width: 1195px) {
  .lootbox-item__inner {
    padding: 50px;
  }
  .lootbox .slick-dots li button {
    width: 100px;
    height: 4px;
  }
  .lootbox-item__text {
    min-height: 234px;
    max-height: 234px;
    height: 100%;
    overflow-y: auto;
  }
  .slick-slide img {
    width: 200px;
  }
}

@media (max-width: 961px) {
  .slick-slide img {
    width: 160px;
  }
}

@media (max-width: 768px) {
  .lootbox-item__image {
    margin-right: 0;
  }
  .lootbox-item {
    padding-top: 100px;
    height: 100%;
  }
  .lootbox-item__image {
    position: absolute;
    top: 0;
  }
  .lootbox__title {
    margin-bottom: 20px;
  }
  .lootbox-item__inner {
    padding-top: 70px;
    height: 100%;
  }
  .lootbox .slick-arrow {
    width: 76px;
    height: 56px;
    bottom: 0;
    -webkit-transform: translateY(260px);
            transform: translateY(260px);
  }
  .lootbox .slick-prev {
    background: url(../img/icons/arrow-left.svg) center/50% no-repeat, #e465a3;
    -webkit-transform: translate(30px, 305px);
            transform: translate(30px, 305px);
  }
  .lootbox .slick-prev:hover {
    background: url(../img/icons/arrow-left.svg) center/50% no-repeat, #e465a3;
  }
  .lootbox .slick-next {
    background: url(../img/icons/arrow-right.svg) center/50% no-repeat, #e465a3;
    -webkit-transform: translate(-30px, 305px);
            transform: translate(-30px, 305px);
  }
  .lootbox .slick-next:hover {
    background: url(../img/icons/arrow-right.svg) center/50% no-repeat, #e465a3;
  }
  .lootbox__arrows {
    display: block;
    width: 100%;
    height: 40px;
  }
  .lootbox .slick-dots li button {
    width: 32px;
    height: 6px;
  }
  .lootbox-item__inner {
    padding: 75px 30px 22px 30px;
  }
  .lootbox-item__text {
    font-size: 22px;
    line-height: 26px;
  }
  .lootbox__digits {
    font-weight: 800;
    font-size: 31px;
    line-height: 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 35px;
  }
  .lootbox__digit-min {
    color: #D05D9E;
  }
  .lootbox__digit-sep {
    margin: 0 5px;
    color: #b8a6df;
  }
  .lootbox__digit-max {
    color: #b8a6df;
  }
}

@media (max-width: 651px) {
  .lootbox {
    padding: 29px 20px 50px 20px;
  }
}

@media (max-width: 550px) {
  .lootbox-item__title {
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
  }
  .lootbox-item__text {
    font-size: 22px;
    line-height: 26px;
  }
  .lootbox-item__subtitle {
    font-size: 28px;
    line-height: 30px;
  }
  .lootbox-item__subtext {
    font-size: 22px;
    line-height: 26px;
  }
}

@media (max-width: 375px) {
  .lootbox-item__inner {
    padding: 80px 30px 22px 30px;
  }
}

.read-loot {
  margin-bottom: 100px;
}

.read-loot__buttons {
  max-width: 1090px;
  margin: 0 auto;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0 10px;
}

.read-loot__button {
  font-family: "Nunito", sans-serif;
  max-width: 520px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #010038;
  border-radius: 14px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  cursor: pointer;
}

.read-loot__button_blue {
  background: #2081e2;
}

@media (max-width: 768px) {
  .read-loot__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px 0;
  }
}

.trailer {
  margin-bottom: 70px;
}

.trailer__inner {
  max-width: 1090px;
  margin: 0 auto;
  padding: 0 15px;
}

.trailer__video {
  max-width: 100%;
  width: 100%;
  height: 593px;
}

@media (max-width: 768px) {
  .trailer__video {
    height: 400px;
  }
}

@media (max-width: 425px) {
  .trailer__video {
    height: 200px;
  }
}

.game {
  padding: 29px 165px 120px 165px;
  width: 100%;
  height: 100%;
}

.game__inner {
  width: 100%;
  height: 100%;
  text-align: center;
}

.game__arrows {
  display: none;
}

.game__title {
  margin-bottom: 60px;
}

.game__content {
  width: 100%;
  height: 100%;
}

.game__slider {
  max-width: 1059px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.game .slick-arrow {
  background: #e465a3;
  border-radius: 6px;
  width: 52px;
  height: 238px;
  font-size: 0;
  position: absolute;
  z-index: 2;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.game .slick-prev {
  background: url("../img/icons/arrow-left.svg") center no-repeat, #e465a3;
  left: 0;
}

.game .slick-prev:hover {
  background: url("../img/icons/arrow-left.svg") center no-repeat, #010038;
}

.game .slick-next {
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  background: url("../img/icons/arrow-right.svg") center no-repeat, #e465a3;
}

.game .slick-next:hover {
  background: url("../img/icons/arrow-right.svg") center no-repeat, #010038;
}

.game .slick-dots {
  position: absolute;
  bottom: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.game .slick-dots li:not(:last-child) {
  margin-right: 10px;
}

.game .slick-dots li button {
  width: 168px;
  height: 6px;
  background: #ffffff;
  border-radius: 3px;
  font-size: 0;
}

.game .slick-dots li:not(.slick-active) button:hover {
  height: 14px;
  border-radius: 13px;
}

.game .slick-dots li.slick-active button {
  background: #e465a3;
}

.game__digits {
  display: none;
}

.game-item__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ede9ff;
  border-radius: 15px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px 90px;
}

.game-item__image {
  margin-right: 24px;
}

.game-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
}

.game-item__title {
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  color: #e465a3;
  margin-bottom: 15px;
}

.game-item__text {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  line-height: 30px;
  color: #010038;
}

.slick-arrow {
  background: #e465a3;
  border-radius: 6px;
  width: 52px;
  height: 238px;
  font-size: 0;
  position: absolute;
  z-index: 2;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slick-prev {
  background: url("../img/icons/arrow-left.svg") center no-repeat, #e465a3;
  left: 0;
}

.slick-next {
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  background: url("../img/icons/arrow-right.svg") center no-repeat, #e465a3;
}

.game .slick-dots {
  position: absolute;
  bottom: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.game .slick-dots li:not(:last-child) {
  margin-right: 10px;
}

.game .slick-dots li button {
  width: 105px;
  height: 6px;
  background-position: right bottom;
}

.game .slick-dots li.slick-active button {
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, #fff), color-stop(50%, #e465a3));
  background: linear-gradient(to left, #fff 50%, #e465a3 50%);
  border-radius: 3px;
  font-size: 0;
  -webkit-transition: all 5.5s linear;
  transition: all 5.5s linear;
  background-size: 200% 100%;
  background-position: left bottom;
}

.game-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
}

.game-button__body {
  max-width: 340px;
  width: 100%;
  background: #010038;
  border-radius: 14px;
  padding: 22px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.game-button__body img {
  margin-right: 10px;
}

.game-button__text {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

@media (max-width: 1360px) {
  .game {
    padding: 29px 140px 120px 140px;
  }
  .game-item__inner {
    padding: 60px 70px;
  }
  .game .slick-dots li button {
    width: 140px;
  }
}

@media (max-width: 1195px) {
  .game-item__inner {
    padding: 50px;
  }
  .game .slick-dots li button {
    width: 100px;
    height: 4px;
  }
  .game-item__text {
    min-height: 234px;
    max-height: 234px;
    height: 100%;
    overflow-y: auto;
  }
  .slick-slide img {
    width: 200px;
  }
}

@media (max-width: 961px) {
  .slick-slide img {
    width: 160px;
  }
}

@media (max-width: 768px) {
  .game-item__image {
    margin-right: 0;
  }
  .game-item {
    padding-top: 100px;
    height: 100%;
  }
  .game-item__image {
    position: absolute;
    top: 0;
  }
  .game__title {
    margin-bottom: 20px;
  }
  .game-item__inner {
    padding-top: 70px;
    height: 100%;
  }
  .game .slick-arrow {
    width: 76px;
    height: 56px;
    bottom: 0;
    -webkit-transform: translateY(260px);
            transform: translateY(260px);
  }
  .game .slick-prev {
    background: url(../img/icons/arrow-left.svg) center/50% no-repeat, #e465a3;
    -webkit-transform: translate(30px, 260px);
            transform: translate(30px, 260px);
  }
  .game .slick-prev:hover {
    background: url(../img/icons/arrow-left.svg) center/50% no-repeat, #e465a3;
  }
  .game .slick-next {
    background: url(../img/icons/arrow-right.svg) center/50% no-repeat, #e465a3;
    -webkit-transform: translate(-30px, 260px);
            transform: translate(-30px, 260px);
  }
  .game .slick-next:hover {
    background: url(../img/icons/arrow-right.svg) center/50% no-repeat, #e465a3;
  }
  .game__arrows {
    display: block;
    width: 100%;
    height: 40px;
  }
  .game .slick-dots li button {
    width: 32px;
    height: 6px;
  }
  .game-item__inner {
    padding: 65px 30px 22px 30px;
  }
  .game-item__text {
    font-size: 22px;
    line-height: 26px;
  }
  .game__digits {
    font-weight: 800;
    font-size: 31px;
    line-height: 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 35px;
  }
  .game__digit-min {
    color: #d05d9e;
  }
  .game__digit-sep {
    margin: 0 5px;
    color: #b8a6df;
  }
  .game__digit-max {
    color: #b8a6df;
  }
}

@media (max-width: 651px) {
  .game {
    padding: 29px 20px 120px 20px;
  }
}

@media (max-width: 550px) {
  .game-item__title {
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
  }
  .game-item__text {
    font-size: 22px;
    line-height: 26px;
  }
}

.partners {
  padding-bottom: 250px;
}

@media (max-width: 500px) {
  .partners {
    padding-bottom: 100px;
  }
}

.token {
  padding: 129px 165px 120px 165px;
  width: 100%;
  height: 100%;
}

.token__inner {
  width: 100%;
  height: 100%;
  text-align: center;
}

.token__title {
  margin-bottom: 60px;
}

.token__content {
  width: 100%;
  height: 100%;
}

.token__slider {
  max-width: 1059px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.token .slick-arrow {
  background: -webkit-gradient(linear, left top, left bottom, from(#fce752), to(#e79500));
  background: linear-gradient(180deg, #fce752 0%, #e79500 100%);
  border-radius: 6px;
  width: 52px;
  height: 238px;
  font-size: 0;
  position: absolute;
  z-index: 2;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.token .slick-prev {
  background: url("../img/icons/arrow-left.svg") center no-repeat, -webkit-gradient(linear, left top, left bottom, from(#fce752), to(#e79500));
  background: url("../img/icons/arrow-left.svg") center no-repeat, linear-gradient(180deg, #fce752 0%, #e79500 100%);
  left: 0;
}

.token .slick-prev:hover {
  background: url("../img/icons/black-arrow-left.svg") center no-repeat, #fff;
}

.token .slick-next {
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  background: url("../img/icons/arrow-right.svg") center no-repeat, -webkit-gradient(linear, left top, left bottom, from(#fce752), to(#e79500));
  background: url("../img/icons/arrow-right.svg") center no-repeat, linear-gradient(180deg, #fce752 0%, #e79500 100%);
}

.token .slick-next:hover {
  background: url("../img/icons/black-arrow-right.svg") center no-repeat, #fff;
}

.token .slick-dots {
  position: absolute;
  bottom: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.token .slick-dots li:not(:last-child) {
  margin-right: 10px;
}

.token .slick-dots li button {
  width: 168px;
  height: 6px;
  background: #ffffff;
  border-radius: 3px;
  font-size: 0;
}

.token .slick-dots li:not(.slick-active) button:hover {
  height: 14px;
  border-radius: 13px;
}

.token .slick-dots li.slick-active button {
  background: #f02214;
}

.token .slick-dots li button {
  width: 168px;
  height: 6px;
  background-position: right bottom;
}

.token .slick-dots li.slick-active button {
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, #fff), color-stop(50%, #f02214));
  background: linear-gradient(to left, #fff 50%, #f02214 50%);
  border-radius: 3px;
  font-size: 0;
  -webkit-transition: all 5.5s linear;
  transition: all 5.5s linear;
  background-size: 200% 100%;
  background-position: left bottom;
}

.token__digits {
  display: none;
}

.token-item__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, left bottom, from(#f32114), to(#610e08));
  background: linear-gradient(180deg, #f32114 0%, #610e08 100%);
  border-radius: 15px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px 90px;
}

.token-item__image {
  margin-right: 24px;
  width: 100%;
}

.token-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
}

.token-item__title {
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  color: #fff;
  margin-bottom: 15px;
}

.token-item__text {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  line-height: 30px;
  color: #fff;
}

@media (max-width: 1360px) {
  .token {
    padding: 29px 140px 120px 140px;
  }
  .token-item__inner {
    padding: 60px 70px;
  }
  .token .slick-dots li button {
    width: 140px;
  }
}

@media (max-width: 1195px) {
  .token-item__inner {
    padding: 50px;
  }
  .token .slick-dots li button {
    width: 100px;
    height: 4px;
  }
  .token-item__text {
    min-height: 234px;
    max-height: 234px;
    height: 100%;
    overflow-y: auto;
  }
  .slick-slide img {
    width: 200px;
  }
}

@media (max-width: 961px) {
  .slick-slide img {
    width: 160px;
  }
}

@media (max-width: 768px) {
  .token-item__image {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .token-item {
    padding-top: 100px;
  }
  .token-item__image {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .token__title {
    margin-bottom: 20px;
  }
  .token-item__inner {
    padding-top: 70px;
  }
  .token .slick-arrow {
    width: 76px;
    height: 56px;
    bottom: 0;
    -webkit-transform: translateY(260px);
            transform: translateY(260px);
  }
  .token .slick-prev {
    background: url(../img/icons/arrow-left.svg) center/50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#fce752), to(#e79500));
    background: url(../img/icons/arrow-left.svg) center/50% no-repeat, linear-gradient(180deg, #fce752 0%, #e79500 100%);
    -webkit-transform: translate(30px, 260px);
            transform: translate(30px, 260px);
  }
  .token .slick-prev:hover {
    background: url(../img/icons/arrow-left.svg) center/50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#fce752), to(#e79500));
    background: url(../img/icons/arrow-left.svg) center/50% no-repeat, linear-gradient(180deg, #fce752 0%, #e79500 100%);
  }
  .token .slick-next {
    background: url(../img/icons/arrow-right.svg) center/50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#fce752), to(#e79500));
    background: url(../img/icons/arrow-right.svg) center/50% no-repeat, linear-gradient(180deg, #fce752 0%, #e79500 100%);
    -webkit-transform: translate(-30px, 260px);
            transform: translate(-30px, 260px);
  }
  .token .slick-next:hover {
    background: url(../img/icons/arrow-right.svg) center/50% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#fce752), to(#e79500));
    background: url(../img/icons/arrow-right.svg) center/50% no-repeat, linear-gradient(180deg, #fce752 0%, #e79500 100%);
  }
  .token__arrows {
    display: block;
    width: 100%;
    height: 40px;
  }
  .token .slick-dots li button {
    width: 32px;
    height: 6px;
  }
  .token-item__inner {
    padding: 65px 30px 22px 30px;
  }
  .token-item__text {
    font-size: 22px;
    line-height: 26px;
  }
  .token__digits {
    font-weight: 800;
    font-size: 31px;
    line-height: 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 35px;
  }
  .token__digit-min {
    color: #E79500;
  }
  .token__digit-sep {
    margin: 0 5px;
    color: #beade4;
  }
  .token__digit-max {
    color: #beade4;
  }
}

@media (max-width: 651px) {
  .token {
    padding: 29px 20px 120px 20px;
  }
}

@media (max-width: 550px) {
  .token-item__title {
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
  }
  .token-item__text {
    font-size: 22px;
    line-height: 26px;
  }
}

.distr {
  width: 100%;
  height: 100%;
  padding-bottom: 118px;
}

.distr__title {
  margin-bottom: 60px;
}

.distr__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 45px 20px;
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.distr__item {
  max-width: 250px;
  width: 100%;
}

.dis-item__number {
  font-weight: 800;
  font-size: 38px;
  line-height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, color-stop(2.35%, #f12115), color-stop(97.35%, #fce761));
  background: linear-gradient(90deg, #f12115 2.35%, #fce761 97.35%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dis-item__text {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  line-height: 30px;
  color: #010038;
  margin-bottom: 8px;
}

.dis-item__line {
  background: -webkit-gradient(linear, left top, right top, color-stop(2.35%, #f12115), color-stop(136%, #fce761));
  background: linear-gradient(90deg, #f12115 2.35%, #fce761 136%);
  border-radius: 3px;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
  width: 100%;
  height: 6px;
}

.dis-item:nth-child(2) .dis-item__line {
  width: 90%;
}

.dis-item:nth-child(3) .dis-item__line {
  width: 85%;
}

.dis-item:nth-child(4) .dis-item__line {
  width: 70%;
}

.dis-item:nth-child(5) .dis-item__line {
  width: 40%;
}

.dis-item:nth-child(6) .dis-item__line {
  width: 40%;
}

.dis-item:nth-child(7) .dis-item__line {
  width: 40%;
}

.dis-item:nth-child(8) .dis-item__line {
  width: 10%;
}

@media (max-width: 555px) {
  .distr__item {
    max-width: 175px;
  }
  .distr__content {
    padding: 0;
    gap: 45px 5px;
  }
}

.road {
  width: 100%;
  height: 100%;
  padding-top: 66px;
  background: url("../img/roadmap-bg.svg") top/contain no-repeat;
  position: relative;
  z-index: 3;
}

.road__inner {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 15px;
}

.road__title {
  margin-bottom: 100px;
}

.road__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.road__row {
  width: 100%;
}

.road__row:not(:last-child) {
  margin-bottom: 44px;
}

.road__row:nth-child(odd) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.road__row:nth-child(odd) .road-item__image {
  position: absolute;
  right: -96px;
}

.road__row:nth-child(even) .road-item {
  padding: 25px 100px;
}

.road__row:nth-child(even) .road-item__image {
  position: absolute;
  left: -96px;
}

.road-item {
  background: #ede9ff;
  border-radius: 15px;
  max-width: 530px;
  width: 100%;
  border: 3px solid #fff;
  position: relative;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 36px 60px;
}

.road-item__image {
  position: absolute;
  top: -65px;
}

.road-item__title {
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  color: #e465a3;
}

.road-item__text {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #010038;
}

.road-item.important {
  background: -webkit-gradient(linear, left top, right top, color-stop(-54.3%, #110f75), color-stop(97.35%, #e465a3));
  background: linear-gradient(90deg, #110f75 -54.3%, #e465a3 97.35%);
  border-radius: 15px;
  border: 4px solid #110f75;
  position: relative;
}

.road-item.important .road-item__title {
  background: linear-gradient(269.57deg, #fce752 43.04%, #e79500 198.91%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.road-item.important .road-item__text {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 21px;
}

@media (min-width: 1920px) {
  .road {
    background: url("../img/roadmap-bg.svg") top/contain no-repeat;
  }
}

@media (max-width: 1131px) {
  .road__content {
    padding: 0 90px;
  }
}

@media (max-width: 768px) {
  .road-item {
    max-width: 100%;
    padding: 15px 80px 15px 15px;
  }
  .road-item__image img {
    max-width: 136px;
  }
  .road-item__image {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .road__row:nth-child(even) .road-item__image {
    left: -60px;
  }
  .road__row:nth-child(odd) .road-item__image {
    right: -60px;
  }
  .road__row:nth-child(even) {
    padding-left: 20px;
  }
  .road__row:nth-child(odd) {
    padding-right: 20px;
  }
  .road__row:nth-child(even) .road-item {
    padding: 15px 15px 15px 80px;
  }
  .road-item__text {
    font-size: 18px;
    line-height: 21px;
  }
  .road__content {
    padding: 0 20px;
  }
  .road__title {
    margin-bottom: 20px;
  }
}

@media (max-width: 460px) {
  .road-item__text {
    max-height: 84px;
    overflow-y: auto;
  }
}

.follow {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}

.follow__inner {
  width: 100%;
  height: 100%;
  padding: 50px 0 150px 0;
}

.follow__title {
  text-align: center;
  margin-bottom: 40px;
  background: -webkit-gradient(linear, left top, right top, color-stop(46.93%, #110f75), color-stop(56.14%, #e465a3));
  background: linear-gradient(90deg, #110f75 46.93%, #e465a3 56.14%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  font-size: 38px;
  line-height: 52px;
}

.follow__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  padding: 0 10px;
  max-width: 1080px;
  margin: 0 auto;
}

.foll-item {
  max-width: 257px;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ede9ff;
  border-radius: 10px;
  border: 3px solid #fff;
  position: relative;
  padding: 8px 18px;
  background-clip: padding-box;
}

.foll-item:hover {
  border: 3px solid transparent;
}

.foll-item:hover::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  bottom: -3px;
  right: -3px;
  background: -webkit-gradient(linear, left top, right top, color-stop(2.35%, #110f75), color-stop(97.35%, #e465a3));
  background: linear-gradient(90deg, #110f75 2.35%, #e465a3 97.35%);
  border-radius: 10px;
  z-index: -1;
}

.foll-item__image {
  margin-right: 20px;
}

.foll-item__text {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #010038;
}

@media (min-width: 1920px) {
  .follow__inner {
    padding: 50px 0 150px 0;
  }
}

@media (max-width: 768px) {
  .follow__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .follow__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .foll-item__image {
    margin: 0 0 8px 0;
  }
}

@media (max-width: 546px) {
  .follow__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
  }
  .follow__item {
    width: 80px;
    height: 68.08px;
    padding: 10px 5px;
  }
  .foll-item__text {
    font-size: 10px;
    line-height: 12px;
  }
  .foll-item__image {
    margin-bottom: 8px;
  }
}

.team {
  position: relative;
  z-index: 6;
  background: url("../img/token-bg.png") top/contain repeat-x;
  margin-top: 75px;
}

.team__inner {
  padding-top: 75px;
  padding-bottom: 200px;
  max-width: 1090px;
  margin: 0 auto;
}

.team__title {
  margin-bottom: 50px;
}

.team__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.team a:hover {
  border: 3px solid transparent;
}

.team a:hover::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  bottom: -3px;
  right: -3px;
  background: -webkit-gradient(linear, left top, right top, color-stop(2.35%, #110f75), color-stop(97.35%, #e465a3));
  background: linear-gradient(90deg, #110f75 2.35%, #e465a3 97.35%);
  border-radius: 10px;
  z-index: -1;
}

.team a .team-item__title {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

@media (max-width: 768px) {
  .team {
    background: url("../img/team-bg.svg") center/cover no-repeat;
  }
}

.team-item {
  max-width: 250px;
  width: 100%;
  background: #ede9ff;
  border-radius: 10px;
  border: 3px solid #fff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 142px;
  background-clip: padding-box;
  padding: 30px 15px;
}

.team-item__image {
  margin-right: 15px;
}

.team-item__image img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.team-item__title {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 23px;
  color: #e465a3;
  margin-bottom: 10px;
  max-width: 130px;
}

.team-item__text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #010038;
}

@media (max-width: 500px) {
  .team__inner {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .team__content {
    gap: 10px 5px;
  }
  .team-item {
    max-width: 183px;
    padding: 7px;
    height: 100px;
  }
  .team-item__image img {
    max-width: 50px;
    height: 50px;
  }
  .team-item__image {
    margin-right: 8px;
  }
  .team-item__title {
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 5px;
  }
  .team-item__text {
    font-size: 13px;
    line-height: 13px;
  }
}

.copy {
  margin-bottom: 90px;
}

.copy__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 575px;
  margin: 0 auto;
  padding: 0 15px;
  gap: 0 55px;
}

.copy__item {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #685ca8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copy__text {
  margin-right: 4px;
}

@media (max-width: 575px) {
  .copy__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px 0;
  }
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(102.28deg, #e3ddfc 19.32%, #d8cfff 77.53%);
  overflow: hidden;
}

.title {
  background: -webkit-gradient(linear, left top, right top, color-stop(37.31%, #110f75), color-stop(62.15%, #e465a3));
  background: linear-gradient(90deg, #110f75 37.31%, #e465a3 62.15%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  font-size: 38px;
  line-height: 52px;
  text-align: center;
}

.token-distr__backgroud {
  width: 100%;
  background: url("../img/token-bg.png") center/contain repeat-x;
}

@media (max-width: 1171px) {
  .token-distr__backgroud {
    background-size: cover;
  }
}
