.copy {
	padding-bottom: 300px;
	max-width: 1330px;
	padding: 0 15px 150px 15px;
	margin: 0 auto;
	position: relative;
	&__body {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		padding: 0 15px;
		gap: 0 50px;
		position: relative;
		
	}
	img.figure__left {
		max-width: 193px;
		position: absolute;
		left: 0;
		bottom: -100%;
		z-index: 0;
		animation: 1.5s infinite animation-left linear;
	}
	&__item {
		font-family: $fontfamilyRoboto;
		font-size: 16px;
		line-height: 19px;
		color: #685ca8;
		display: flex;
		align-items: center;
		&.copy__email {
			gap: 5px;
		}
	}
	&__line {
		height: 12px;
		width: 2px;
		background: #685CA8;
		border-radius: 10px;
	}

	&__text {
		margin-right: 4px;
		&:hover {
			text-decoration-line: underline;
		}
	}
}

@media (max-width: 767px) {
	.copy {
		&__body {
			flex-direction: column;
			gap: 30px;
		}
		&__line {
			display: none;
		}
	}
}
