.copy {
	margin-bottom: 90px;
	&__body {
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 575px;
		margin: 0 auto;
		padding: 0 15px;
		gap: 0 55px;
	}

	&__item {
		font-family: $fontfamilyRoboto;
		font-size: 16px;
		line-height: 19px;
		color: #685ca8;
		display: flex;
		align-items: center;
	}

	&__text {
		margin-right: 4px;
	}
}

@media (max-width:575px) {
	.copy {
		&__body {
			flex-direction: column;
			gap: 20px 0;
		}
	}
}
