.main-page {
	min-height: 100vh;
	width: 100%;
	height: 100%;
	background: url("../img/main-bg.svg") center bottom / contain no-repeat,
		linear-gradient(360deg, #810c8a 0%, #000000 100%);
	padding: 35px 0 70px 0;
	&__inner {
		position: relative;
		max-width: 1330px;
		margin: 0 auto;
		padding: 0 15px;
		width: 100%;
		height: 100%;
	}
	&__header {
	}

	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 0 35px;
		margin-bottom: 125px;
		transition: height 0.2s ease;
		&__main {
			display: none;
			justify-content: space-between;
			width: 100%;
		}
		&__burger {
			height: 24px;
			width: 24px;
			// background: #fff;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			&::after,
			&::before {
				content: "";
			}
			&::after,
			&::before {
				width: 18px;
				height: 2px;
				border-radius: 10px;
				position: absolute;
				left: 50%;
				background: #fff;
				transform: translate(-50%, -50%);
			}
			&::before {
				top: 7px;
			}
			&::after {
				top: 12px;
			}
		}
		&__span {
			width: 18px;
			height: 2px;
			border-radius: 10px;
			position: absolute;
			left: 50%;
			transform: translate(-50%, -50%);
			background: #fff;
			top: 17px;
		}
		&__logo {
			display: none;
		}

		&__menu {
			max-width: 649px;
			width: 100%;
		}

		&__list {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&__item {
		}

		&__link {
			font-family: $fontfamilyMonrserrat;
			font-weight: 600;
			font-size: 18.5385px;
			line-height: 23px;
			color: #ffffff;
		}

		&__awards {
			display: flex;
			align-items: center;
			gap: 35px;
		}

		&__award {
			img {
			}
			&.hack {
				opacity: 0.6;
			}
			&.bin {
				opacity: 0.4;
			}
		}
		&__mail {
			display: none;
		}
	}

	&__slider {
	}

	.main-slider {
		max-width: 1207px;
		padding-bottom: 55px;
		&__wrapper {
			margin-bottom: 20px;
		}

		&__slide {
			max-width: 247px;
			height: 190px;
			display: flex;
			align-items: center;
			justify-content: center;
			opacity: 0.2;
			transition: all 1s;
			&.swiper-slide-prev,
			&.swiper-slide-next {
				opacity: 0.4;
			}
			&.swiper-slide-active {
				opacity: 1;
			}
			img {
				max-width: 100%;
				object-fit: contain;
			}
		}

		&__content {
			max-width: 1080px;
			margin: 0 auto;
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		&__button-prev {
		}

		&__button-next {
		}

		&__content-inner {
			max-width: 640px;
			margin-bottom: 55px;
		}

		&__item {
			display: none;
			&.active {
				display: block;
			}
		}

		&__title {
			font-family: $fontfamilyNunito;
			font-weight: 800;
			font-size: 28px;
			line-height: 38px;
			text-align: center;
			background: linear-gradient(180deg, #fce752 0%, #e79500 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			margin-bottom: 15px;
		}

		&__text {
			font-family: $fontfamilyRoboto;
			font-weight: 400;
			font-size: 26px;
			line-height: 30px;
			height: 120px;
			text-align: center;
			color: #ffffff;
		}
		&__navigation {
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 6px;
			position: relative;
		}
		&__pagination {
			bottom: 0;
			max-width: 860px;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: static;
			.swiper-pagination-bullet {
				height: 6px;
				max-width: 100%;
				width: 100%;
				background: rgba(#ffffff, 0.2);
				border-radius: 3px;
				&::after {
					border-radius: 3px;
					background: #fff;
					content: "";
					height: 100%;
					position: absolute;
					left: 0;
					top: 0;
					width: 0;
				}
				&-active {
					position: relative;
					&::after {
						transition: width 5s linear;
						width: 100%;
					}
				}
			}
		}
		&__button-prev,
		&__button-next {
			background: rgba(255, 255, 255, 0.1);
			border-radius: 10px;
			width: 70px;
			height: 60px;
			&::after {
				content: "";
				width: 42px;
				height: 42px;
				background: url("../img/main-arrow-right.svg") center / cover no-repeat;
			}
		}
		&__button-prev {
			&::after {
				transform: rotate(180deg);
			}
		}
		&__button-next {
		}
	}
	&__buttons {
		max-width: 860px;
		margin: 0 auto 70px auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__button {
		max-width: 421px;
		padding: 20px;
		background: #e465a3;
		border-radius: 14px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: $fontfamilyMonrserrat;
		font-weight: 500;
		font-size: 24px;
		line-height: 29px;
		text-align: center;
		color: #ffffff;
		&:hover {
			background: #685ca8;
		}
	}

	&__socials {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 580px;
		margin: 0 auto 75px auto;
		flex-wrap: wrap;
	}

	&__social {
		height: 36px;
		img {
			max-height: 100%;
		}
		&_default {
			display: block;
		}
		&_hover {
			display: none;
		}
		&:hover {
			.main-page__social_default {
				display: none;
			}
			.main-page__social_hover {
				display: block;
			}
		}
	}

	&__partners {
		max-width: 1079px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}

	&__partner {
	}
}

@media (max-width: 1005px) {
	.main-page {
		.header {
			flex-wrap: wrap;
			justify-content: center;
			gap: 35px 0;
		}
		&__buttons {
			gap: 20px;
			justify-content: center;
		}
		&__partners {
			gap: 25px;
			justify-content: center;
		}
		.main-slider {
			&__button-prev,
			&__button-next {
				width: 52px;
				height: 52px;
				top: auto;
				bottom: 0;
				transform: translateY(50%);
				&::after {
					width: 24px;
					height: 24px;
				}
			}
			&__button-prev {
				left: 0;
			}
			&__button-next {
				right: 0;
			}
		}
	}
	.main-page .main-slider__navigation {
		width: calc(100% - 145px);
	}
}

@media (max-width: 600px) {
	.main-page {
		padding-top: 110px;
		.main-slider {
			// margin: 0 -15px;
		}
		&__social img {
			height: 26px;
		}
		.header {
			height: 74px;
			background: linear-gradient(360deg, #620869 0%, #45044a 100%);
			position: fixed;
			width: 100%;
			left: 0;
			top: 0;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			z-index: 99;
			padding: 20px;
			gap: 0;
			&__burger {
				// display: block;
			}
			&__logo {
				display: block;
				img {
					max-height: 34px;
				}
			}
			&__main {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
			&__list {
				flex-direction: column;
				align-items: flex-end;
				gap: 40px 0;
				padding: 74px 10px 85px 10px;
			}
			&__menu {
				display: none;
			}
			&__awards {
				// display: none;
				flex-direction: column;
				justify-content: center;
				gap: 0;
				opacity: 0;
			}
			&__award {
				display: flex;
				gap: 0 10px;
				opacity: 0;
				&.hack {
					margin-bottom: 40px;
				}
				&.bin {
					margin-bottom: 100px;
				}
				img {
					max-height: 51px;
					height: 100%;
				}
			}
		}
		.header.active {
			background: #010038;
			position: fixed;
			height: 100%;
			width: 100%;
			left: 0;
			top: 0;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			z-index: 99;
			padding: 20px;
			gap: 0;
			.header__main {
				display: flex;
				align-items: center;
				justify-content: flex-end;
			}
			.header__logo {
				display: none;
			}
			.header__menu {
				display: block;
			}
			.header__awards {
				opacity: 1;
				display: flex;
				transition: opacity 2s ease;

				gap: 0 10px;
			}
			.header__award {
				transition: opacity 2s ease;
				opacity: 1;
			}
			.header__span {
				display: none;
			}
			.header__burger {
				&::before {
					top: 6px;
					transform: rotate(45deg);
				}
				&::after {
					top: 6px;
					transform: rotate(-45deg);
				}
			}
		}
	}
	.main-page__partners {
		display: none;
	}
}
