.main-page {
	min-height: 100vh;
	width: 100%;
	height: 100%;
	background: url("../img/main-bg.svg") center bottom / contain no-repeat,
		linear-gradient(360deg, #810c8a 0%, #000000 100%);
	padding: 35px 0 73px 0;
	&__inner {
		max-width: 1330px;
		margin: 0 auto;
		padding: 0 15px;
		width: 100%;
		height: 100%;
	}
	&__header {
	}

	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 135px;
		&__menu {
		}

		&__list {
			display: flex;
			align-items: center;
			gap: 35px;
		}

		&__item {
		}

		&__link {
			font-family: $fontfamilyMonrserrat;
			font-weight: 600;
			font-size: 18.5385px;
			line-height: 23px;
			color: #ffffff;
		}

		&__awards {
			display: flex;
			align-items: center;
			gap: 35px;
		}

		&__award {
			img {
			}
		}
	}
	&__slider {
	}

	.main-slider {
		max-width: 1207px;
		&__wrapper {
		}

		&__slide {
			max-width: 247px;
			height: 190px;
			display: flex;
			align-items: center;
			justify-content: center;
			opacity: 0.2;
			&.swiper-slide-prev,
			&.swiper-slide-next {
				opacity: 0.4;
			}
			&.swiper-slide-active {
				opacity: 1;
			}
			img {
				max-width: 100%;
				object-fit: contain;
			}
		}

		&__content {
			max-width: 1080px;
			margin: 0 auto;
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		&__button-prev {
		}

		&__button-next {
		}

		&__content-inner {
			max-width: 640px;
			margin-bottom: 55px;
		}

		&__item {
			display: none;
			&.active {
				display: block;
			}
		}

		&__title {
			font-family: $fontfamilyNunito;
			font-weight: 800;
			font-size: 28px;
			line-height: 38px;
			text-align: center;
			background: linear-gradient(180deg, #fce752 0%, #e79500 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			margin-bottom: 15px;
		}

		&__text {
			font-family: $fontfamilyRoboto;
			font-weight: 400;
			font-size: 26px;
			line-height: 30px;
			text-align: center;
			color: #ffffff;
		}
		&__navigation {
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 6px;
			position: relative;

		}
		&__pagination {
			bottom: 0;
			max-width: 860px;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: static;
			.swiper-pagination-bullet {
				height: 6px;
				max-width: 100%;
				width: 100%;
				background: rgba(#ffffff, 0.2);
				border-radius: 3px;
				&-active {
					background: #fff;
				}
			}
		}
		&__button-prev,
		&__button-next {
			&::after {
				content: "";
				width: 42px;
				height: 42px;
				background: url('../img/main-arrow-right.svg') center / cover no-repeat;
			}
		}
		&__button-prev {
			&::after {
				transform: rotate(180deg);
			}
		
		}
		&__button-next {
		}
	}
}
