.main-page {
	min-height: 100vh;
	width: 100%;
	background: linear-gradient(80.08deg, #010038 0.5%, #e465a3 109.34%);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: relative;
	overflow: hidden;
	#confetti-canvas {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display:block;
		z-index: 1;
		pointer-events:none
	}
	padding-bottom: 28px;
	// z-index: 9999;
	&__inner {
		flex-grow: 1;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		max-width: 1000px;
		padding: 0 10px 60px 10px;
		margin: 0 auto;
		position: relative;
		z-index: 5;
	}

	&__read {
		overflow: hidden;
	}

	&__image {
		text-align: center;
		width: 100%;
		height: 100%;
		img {
			object-fit: cover;
			max-width: 100%;
		}
	}

	&__head {
		text-align: center;
		font-size: 28px;
		max-width: 342px;
		margin: -114px auto 0 auto;
		line-height: 38px;
		margin-bottom: 70px;
	}

	&__title {
		font-weight: 400;
	}

	&__subtitle {
		text-transform: uppercase;
		font-weight: 900;
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	&__row {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		width: 100%;
		&:not(:last-child) {
			margin-bottom: 25px;
		}
	}

	&__item {
		margin-bottom: 20px;
		&:not(:last-child) {
			margin-right: 50px;
		}
	}

	&__more {
	}
}
.amonica{
	max-width: 155px;
}

@media (min-width: 1920px) {
	.main-page__image,
	.main-page__head,
	.main-page__content,
	.main-more {
		transform: scale(1.5);
	}
	.main-page__row:not(:last-child) {
		margin-bottom: 10px;
	}
}
.main-read {
	position: absolute;
	right: 0;
	top: 140px;
	max-width: 155px;
	width: 100%;
	background: url("../img/shapes.svg") right no-repeat;
	max-height: 270px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 4;
	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		background: linear-gradient(51.11deg, #110f75 -8.39%, #e465a3 111.74%);
		border-radius: 4px;
		padding: 26px 12px 26px 27px;
		transform: translateX(20px);
		transition: all 0.3s;
		&:hover {
			transform: translateX(0px);
			background: linear-gradient(55.55deg, #110f75 -8.54%, #e465a3 315.66%);
		}
	}

	&__icon {
		margin-right: 10px;
	}

	&__text {
		font-family: $fontfamilyRoboto;
		font-size: 12px;
		line-height: 14px;
		color: #ffffff;
	}
}
.main-more {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: all 350ms ease-in-out;
	&__text {
		font-family: $fontfamilyRoboto;
		font-size: 16px;
		line-height: 19px;
		color: #fff;
		margin-bottom: 10px;
	}

	&__icon {
		animation: impulseArrow 1s infinite;
		transition: all 0.5s;
	}
}
@keyframes impulseArrow {
	0% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0);
	}
}

@media (max-width: 768px) {

	.main-read {
		top: 5px;
		background: none;
		height: auto;
		&__link {
			padding: 15px 12px 15px 27px;
		}
	}
	.main-page {
		&__row {
			flex-wrap: nowrap;
			&:last-child {
				flex-wrap: wrap;
			}
		}
		&__item {
			&:not(:last-child) {
				margin-right: 30px;
			}
			img {
				max-width: 100%;
				object-fit: cover;
			}
		}
	}
}
@media (max-width: 470px) {
	.main-page__image {
		// transform: translateX(-10%);
		// width: 120%;
		// margin-top: 50px;
		// transform: scale(1.2);
	}
	.main-page__head {
		margin: -64px auto 20px auto;
	}
}

