.news {
	margin-bottom: 150px;
	&__inner {
		max-width: 1330px;
		padding: 0 15px;
		margin: 0 auto;
		position: relative;
	}
	img.figure__left {
		max-width: 193px;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 0;
		animation: 1.5s infinite animation-left linear;
	}

	&__title {
		margin-bottom: 50px;
	}

	&__content {
		position: relative;
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;
		flex-wrap: wrap;
	}

	&__item {
		max-width: 420px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		gap: 20px 0;

	}

	&__image {
		img {
			border-radius: 14px;
			max-width: 100%;
			object-fit: cover;
		}
	}

	&__text {
		font-weight: 800;
		font-size: 28px;
		line-height: 38px;
		color: #e465a3;
		min-height: 115px;
		&:hover {
			color: #010038;
		}
	}
}
@media(max-width: 1335px) {
	.news__content {
		flex-wrap: nowrap;
		overflow-x: auto;
		justify-content: flex-start;
		&::-webkit-scrollbar {
			width: 0;
		}
		-ms-overflow-style: none;
		overflow: -moz-scrollbars-none;
		img {
			max-width: none;
      max-height: 260px;
		}
	}
}
@media(max-width: 768px) {
	.news__content {
		margin: 0 -15px;
		padding-left: 10px;
	}
}

@media(max-width: 500px) {
	.news {
		margin-bottom: 100px;
		&__content {
			gap: 30px;
			align-items: flex-start;
			img {
				max-width: 335px;
			}
		}
		&__item {
			gap: 10px;
		}
	}
}