.reincarnation {
	padding-top: 125px;
	// background: url("../img/reincarnation/reincarnation-bg.png") center / contain no-repeat;
	img.figure__right {
		max-width: 183px;
		position: absolute;
		right: 0;
		top: 0%;
		animation: 1.5s infinite animation-right linear;
		z-index: 0;
	}
	img.figure__left {
		max-width: 193px;
		position: absolute;
		left: 0;
		bottom: 20%;
		z-index: 0;
		animation: 1.5s infinite animation-left linear;
	}
	&__inner {
	position: relative;
		max-width: 1330px;
		padding: 0 15px;
		margin: 0 auto;
	}

	&__title {
		margin-bottom: 55px;
	}

	&__content {
		position: relative;
		z-index: 1;
		max-width: 1330px;
		margin: 0 auto 55px auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 10px;
	}

	&__paragraf {
		font-family: $fontfamilyRoboto;
		font-weight: 400;
		font-size: 26px;
		line-height: 30px;
		color: #010038;
		background: #ede9ff;
		border-radius: 14px;
		padding: 25px;
		border: 3px solid rgba($color: #fff, $alpha: 0.5);
	}
	&__more {
		display: none;
	}

	&__compares {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 0 20px;
	}
	&__splitter {
		display: none;
	}

	&__compare {
	}

	&__compare-title {
		font-family: $fontfamilyNunito;
		font-weight: 700;
		font-size: 28px;
		line-height: 30px;
		color: #010038;
		margin-bottom: 20px;
	}

	&__compare-image {
		img {
			max-width: 100%;
			object-fit: cover;
		}
	}

	&__items {
		margin: 0 -15px 100px -15px;
		padding-left: 10px;
		&-wrapper {
			padding-top: 60px;
		}
	}

	&__item {
		max-width: 244px;
		height: 245px;
		position: relative;
		padding: 90px 25px 25px 25px;
		background: #ede9ff;
		border: 3px solid #fff;
		border-radius: 14px;
	}

	&__item-image {
		position: absolute;
		left: 50%;
		top: 0;
		transform: translate(-50%, -50%);
	}

	&__item-text {
		font-family: $fontfamilyRoboto;
		font-weight: 400;
		font-size: 22px;
		line-height: 26px;
		color: #010038;
	}
	img {
		width: 100%;
		vertical-align: middle;
	}

	.image-spliter,
	img,
	.mover {
		overflow: hidden;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.image-spliter {
		border-radius: 14px;
		position: relative;
	}

	.img-left {
		position: absolute;
		top: 0;
		left: 0;
	}

	.mover {
		position: absolute;
		width: 33%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 10;
	}
	.mover:before,
	.mover:after {
		position: absolute;
		left: 50%;

		content: "";

		cursor: -webkit-grab;
		cursor: grab;
	}

	.mover:before {
		top: 0;
		background-color: #fff;
		width: 3px;
		height: 100%;
		transform: translate(-50%, 0);
	}
	.mover:after {
		top: 50%;
		transform: translate(-50%, -50%);
		background: url("../img/mover-circle.svg") center / contain no-repeat;
		width: 30%;
		height: 100%;
		z-index: 99;
		border-radius: 5px;
	}
}

@media (max-width: 1350px) {
	.reincarnation {
		&__splitter {
			display: block;
			width: 100%;
		}
		&__titles {
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-weight: 700;
			font-size: 28px;
			line-height: 30px;
			color: #010038;
			margin-bottom: 20px;
		}
		&__compare {
			display: none;
		}
	}
}

@media (max-width: 768px) {
	.reincarnation .mover:after {
		width: 20%;
	}
}

@media (max-width: 600px) {
	.reincarnation {
		padding-top: 80px;
	}
	.reincarnation__paragraf {
		border: none;
		background: none;
		padding: 0;
	}
	.reincarnation .reincarnation__content {
		background: #ede9ff;
		border-radius: 14px;
		padding: 25px;
		width: 100%;
		margin: 0;
		gap: 30px;
		border: 3px solid rgba($color: #fff, $alpha: 0.5);
		.collapse {
			display: none;
		}
	}
	.reincarnation__paragraf:not(:first-child) {
		display: none;
	}
	.reincarnation .reincarnation__content.open {
		.collapse {
			display: block;
		}
		.reincarnation__more-arrow {
			img {
				transform: rotate(-180deg);
			}
		}
		.more {
			display: none;
		}
		.reincarnation__paragraf:not(:first-child) {
			display: block;
		}
	}

	.reincarnation__paragraf:last-child {
		margin-bottom: 15px;
	}
	.reincarnation__more {
		display: flex;
		align-items: center;
		font-family: $fontfamilyMonrserrat;
		font-style: normal;
		font-weight: 600;
		font-size: 24px;
		line-height: 29px;
		text-align: center;
		color: #010038;
		gap: 10px;
	}
}
@media (max-width: 500px) {
	.reincarnation .mover:after {
		width: 30%;
	}
	.reincarnation__title {
		margin-bottom: 45px;
	}
}
