.reincarnation {
	padding-top: 125px;
	background: url("../img/reincarnation/reincarnation-bg.png") center / contain no-repeat;
	&__inner {
		max-width: 1330px;
		padding: 0 15px;
		margin: 0 auto;
	}

	&__title {
		margin-bottom: 55px;
	}

	&__content {
		max-width: 1080px;
		margin: 0 auto 55px auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 25px 0;
	}

	&__paragraf {
		font-family: $fontfamilyRoboto;
		font-weight: 400;
		font-size: 26px;
		line-height: 30px;
		text-align: center;
		color: #010038;
	}

	&__compares {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		margin-bottom: 125px;
		gap: 0 20px;
	}
	&__splitter {
		display: none;
	}

	&__compare {
	}

	&__compare-title {
		font-family: $fontfamilyNunito;
		font-weight: 700;
		font-size: 28px;
		line-height: 30px;
		color: #010038;
		margin-bottom: 20px;
	}

	&__compare-image {
		img {
			max-width: 100%;
			object-fit: cover;
		}
	}

	&__items {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 60px 20px;
	}

	&__item {
		max-width: 244px;
		height: 245px;
		position: relative;
		padding: 90px 25px 25px 25px;
		background: #ede9ff;
		border: 3px solid #fff;
		border-radius: 14px;
	}

	&__item-image {
		position: absolute;
		left: 50%;
		top: 0;
		transform: translate(-50%, -50%);
	}

	&__item-text {
		font-family: $fontfamilyRoboto;
		font-weight: 400;
		font-size: 22px;
		line-height: 26px;
		color: #010038;
	}
	img {
		width: 100%;
		vertical-align: middle;
	}

	.image-spliter,
	img,
	.mover {
		overflow: hidden;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.image-spliter {
		position: relative;
	}

	.img-left {
		position: absolute;
		top: 0;
		left: 0;
	}

	.mover {
		position: absolute;
		width: 200px;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 10;
	}
	.mover:before,
	.mover:after {
		position: absolute;
		left: 50%;
		content: "";
		background: #fff;
		cursor: -webkit-grab;
		cursor: grab;
	}

	.mover:before {
		top: 0;
		transform: translateX(-50%);
		width: 1px;
		height: 100%;
	}
	.mover:after {
		top: 50%;
		transform: translate(-50%, -50%);
		width: 5px;
		height: 33%;
		border-radius: 5px;
	}
}

@media (max-width: 1350px) {
	.reincarnation {
		&__splitter {
			display: block;
		}
		&__titles {
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-weight: 700;
			font-size: 28px;
			line-height: 30px;

			color: #010038;
		}
		&__compare {
			display: none;
		}
	}
}

@media (max-width: 600px) {
	.reincarnation {
		padding-top: 80px;
	}
}
