.road {
	width: 100%;
	height: 100%;
	// padding-bottom: 328px;
	// background: url("../img/roadmap-bg.png") center / contain no-repeat;
	// position: relative;
	// z-index: 3;
	&__inner {
	}

	&__title {
		margin-bottom: 50px;
	}

	&__dates {
		max-width: 500px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 50px;
		padding: 0 10px;
	}

	&__date {
		font-family: "Nunito";
		font-style: normal;
		font-weight: 800;
		font-size: 24px;
		line-height: 33px;
		color: #b6abf1;
		cursor: pointer;
		&_active {
			cursor: auto;
			color: #010038;
		}
	}
	&__line {
		// width: 10000px;
		width: 100%;
		margin-left: 4.2%;
		height: 7px;
		background: rgba(#b6abf1, 0.5);
		border-radius: 10px;
		transform: translateY(-50%);
	}
}

.road {
	&__slider {
	}
}
.road-slider {
	padding: 9px 0;
	user-select: none;
	position: relative;
	&__wrapper_top {
		margin-left: 15%;
		z-index: 30;
		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 10000px;
			height: 426px;
		}
	}

	&__slide {
		max-width: 346px;
		height: 205px;
		opacity: 0.4;
		&.active {
			opacity: 1;
		}
		&::after {
			content: "";
			position: absolute;
			left: 50%;
			bottom: 0;
			width: 18px;
			height: 18px;
			border-radius: 50%;
			background: #c5bcf8;
			transform: translate(-50%, 50%);
			z-index: 4;
		}
	}

	&__body {
		display: flex;
		align-items: center;
		gap: 10px;
		padding: 27px 20px;
		background: #ede9ff;
		border-radius: 15px;
		border: 3px solid #fff;
		position: relative;
		width: 100%;
		&::before {
			position: absolute;
			left: 50%;
			bottom: 0;
			content: "";
			background: url("../img/dashed.svg") center / contain repeat-y;
			width: 5px;
			height: 59px;
			z-index: 3;
			transform: translate(-50%, 100%);
		}
	}
	&__wrapper_bottom {
		margin-left: 25%;
		margin-top: -9px;
		user-select: none;
		.road-slider__slide {
			display: flex;
			align-items: flex-end;
			&::after {
				content: "";
				position: absolute;
				left: 50%;
				bottom: 100%;
				transform: translate(-50%, 50%);
			}
		}
		.road-slider__body {
			&::before {
				bottom: 100%;
				transform: translate(-50%, 0);
			}
		}
	}

	&__wrapper_line {
		width: 10000px;
	}

	&__image {
		height: 80px;

		img {
			height: 100%;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
	}

	&__title {
		font-family: $fontfamilyNunito;
		font-weight: 800;
		font-size: 24px;
		line-height: 33px;
		color: #e465a3;
		display: flex;
		gap: 0 15px;
		align-items: center;
	}
	&__update {
		color: rgba(#e465a3, 0.5);
	}

	&__text {
		font-family: $fontfamilyRoboto;
		font-weight: 400;
		font-size: 24px;
		line-height: 28px;
		color: #010038;
	}
}

@media (max-width: 600px) {
	.road-slider__wrapper {
		display: flex;
		justify-content: center;
		margin: 0;
	}
	.road-slider__wrapper_line {
		display: none;
	}
	.road-slider__body {
		&::before {
			display: none;
		}
	}
	.road-slider__slide {
		margin: 0 auto;
		height: auto;
		&::after {
			display: none;
		}
		&:not(.active) {
			display: none;
		}
	}
}
@media(max-width: 500px) {
	.road{
		padding-top: 0;
		padding-bottom: 0;
	}
}
