.schema {
	background: url("../img/schema-bg.svg") right bottom / contain no-repeat;
	margin-bottom: -260px;
	position: relative;
	z-index: 7;
	&__inner {
		max-width: 1330px;
		padding: 0 15px;
		margin: 0 auto;
	}

	&__title {
		margin-bottom: 50px;
	}
	&__subtitle {
		font-family: $fontfamilyRoboto;
		font-weight: 400;
		font-size: 26px;
		line-height: 30px;
		text-align: center;
		color: #010038;
		margin-bottom: 50px;
		max-width: 1330px;
		padding: 0 15px;
		margin: 0 auto 50px auto;
	}

	&__content {
		// width: 2000px;
		img {
			// transform: translateX(-50%);
			// max-width: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
}

@media (max-width: 768px) {
	.schema__content {
		overflow-x: scroll;
		// width: 738px;
		width: 100%;
		&::-webkit-scrollbar {
			width: 0;
		}
		-ms-overflow-style: none;
		overflow: -moz-scrollbars-none;
	}
	.schema__image {
		min-width: 738px;
	}
}
