
.trade {
	transition: all 350ms ease-in-out;
	width: 100%;
	height: 100%;
	padding: 154px 15px 145px 15px;
	display: flex;
	justify-content: space-between;
	position: relative;
	z-index: 3;
	max-width: 1090px;
	margin: 0 auto;
	&__inner {
		max-width: 730px;
		padding: 0 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__row {
	}

	&__button {
		margin: 50px 0;
	}

	&__soc {
	}

	&__image {
		img {
			height: 100%;
		}
	}
}
.trade-row {
	background: #ede9ff;
	border-radius: 10px;
	text-align: center;
	width: 100%;
	padding: 15px 20px;
	&:first-child {
		margin-bottom: 20px;
	}
	&__title {
		font-weight: 800;
		font-size: 28px;
		line-height: 38px;
		color: #e465a3;
		margin-bottom: 20px;
	}

	&__content {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__item {
		&:not(:last-child) {
			margin-right: 54px;
		}
	}
}
.trade-button {
	background: #010038;
	border-radius: 14px;
	max-width: 340px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	&:hover {
		background: linear-gradient(90deg, #110F75 2.35%, #E465A3 97.35%);
	}
	&__image {
		margin-right: 15px;
	}

	&__text {
		font-size: 24px;
		line-height: 29px;
		color: #ffffff;
	}
}
.trade-soc {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 20px;
	&__item {
		max-width: 160px;
		width: 100%;
		background: #ede9ff;
		border-radius: 10px;
		border: 3px solid #fff;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 8px 18px;
		height: 80px;
		position: relative;
		background-clip: padding-box;

		&:hover {
			border: 3px solid transparent;
			&::after {
				content: "";
				position: absolute;
				top: -3px;
				left: -3px;
				bottom: -3px;
				right: -3px;
				background: linear-gradient(90deg, #110f75 2.35%, #e465a3 97.35%);
				border-radius: 10px;
				z-index: -1;
			}
		}
	}

	&__image {
		margin-bottom: 10px;
		img {
		}
	}

	&__name {
		font-size: 12px;
		line-height: 14px;
		text-align: center;
		color: #010038;
	}
}
@media (max-width: 1454px) {
	.trade {
		&__image {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			z-index: -1;
		}
	}
}

@media (max-width: 918px) {
	.trade {
		padding: 120px 10px 145px 10px;
		justify-content: center;
		&__inner {
		}
	}
}
@media (max-width: 768px) {
	.trade {
		&__image {
			display: none;
		}
		&__inner {
			max-width: none;
		}
	}
	.trade-row__content {
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.trade-row__item {
		margin-bottom: 20px;

		&:not(:last-child) {
			margin-right: 0;
		}
	}
}
@media(max-width: 442px) {
	.trade-row__content {
		justify-content: center;
	}
	.trade {
		padding-top: 80px;
		padding-bottom: 60px;
	}
	.trade-soc {

	}
}
