@import "_zeroing.scss";
@import "_main-page.scss";
@import "_reincarnation.scss";
@import "_lootbox.scss";
@import "_news.scss";
@import "_built.scss";
@import "_details.scss";
@import "_schema.scss";
@import "_read-loot.scss";
@import "_trailer.scss";
@import "_game.scss";
@import "_partners.scss";

@import "_distribution.scss";
@import "_road.scss";
@import "_follow.scss";
@import "_team.scss";
@import "_copy.scss";

.wrapper {
	min-height: 100vh;
	width: 100%;
	background: linear-gradient(102.28deg, #e3ddfc 19.32%, #d8cfff 77.53%);
	overflow: hidden;
}
.title {
	background: linear-gradient(90deg, #110f75 37.31%, #e465a3 62.15%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 800;
	font-size: 38px;
	line-height: 52px;
	text-align: center;
}
.purple {
	background: linear-gradient(82.77deg, #ea6aff 5.38%, #e546ff 44.75%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}
.blue {
	background: linear-gradient(82.77deg, #4da9ff 5.38%, #54e0ff 44.75%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}
.gold {
	background: linear-gradient(180deg, #fce752 0%, #e79500 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}
.red {
	background: linear-gradient(90deg, #f12115 2.35%, #fce761 97.35%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

.epic {
	background: linear-gradient(82.77deg, #ea6aff 5.38%, #e546ff 44.75%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}
.mystical {
	background: linear-gradient(82.77deg, #4da9ff 5.38%, #54e0ff 44.75%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

.token-distr__backgroud {
	width: 100%;
	background: url("../img/token-distrb-bg.png") center / cover no-repeat;
	height: 100%;
	padding: 100px 0 270px 0;
}

@media (max-width: 1171px) {
	.token-distr__backgroud {
		background-size: cover;
	}
}
body{
	&.active {
		overflow: hidden;
	}
}

.slick-dots {
	display: none!important;
}